.Projects {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    padding-top: 100px;
}

.Projects h1{
    margin: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
  }