.project {
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.projectImg {
    width: 400px;
    margin: 20px;
    border: 3px solid var(--action-primary);
    border-radius: 10px;
    box-shadow: 7px 7px 7px var(--bg-darker);
    /* pointer-events: none; */
}

.projectInfo {
    width: 500px;
    padding: 20px
}

.projectInfo h2{
   margin: 10px 0;
   font-size: 30px;
   font-weight: 400;
}

.projectInfo p{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 400;
}

@media screen and (max-width: 1000px) {
    .project {
        flex-direction: column;
    }
    .projectInfo {
        width: 450px;
        padding: 20px
    }
    .projectInfo h2{
        text-align: center;
     }
}

@media screen and (max-width: 500px) {
    .projectInfo {
        width: 350px;
        padding: 20px
    }
    
    .projectInfo h2{
       font-size: 25px;
    }
    
    .projectInfo p{
        font-size: 15px;
    }

    .projectImg {
        width: 350px;
    }
}