:root {
    --background: var(--bg-primary);
    --text: var(--text-primary);
    --hover: var(--text-secondary)
}

.navbar {
    height: 70px;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbarOptions {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-around;
    list-style-type: none;
}

.navbarOptions li a {
    transition: 0.2s ease-in;
    text-decoration: none;
    font-size: 20px;
    color: var(--text);
}

.navbarOptions li a:hover {
    text-decoration: none;
    font-size: 20px;
    color: var(--hover);
}

#toggle {
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: var(--text);
}

#toggle:hover {
    cursor: pointer;
}

#toggle:active {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
 }

.logo {
    width: 50px;
    animation: App-logo-spin infinite 20s linear;
}
