:root {
  --text-primary: #212A3E;
  --text-secondary: #9BA4B5;
  --text-tertiary: #F1F6F9;
  --bg-lighter: #ffffff;
  --bg-primary: #F1F6F9;
  --bg-darker: #e3ebef;
  --action-primary: #394867;
}


* {
  scroll-behavior: smooth;
  transition: 0.2s ease;
}

/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--text-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2E3840;
}

.App-link {
  color: var(--text-primary);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
